{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .dashboard-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            text-align: center;
        }
    </style>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="dashboard-container">
            <h2>Welcome to Seller Dashboard</h2>
            <p>Hello, {{request.user}}!</p>
        </div>
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {% endif %}
        
        <h5>Products Soled (Dammy data)</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price(Ksh)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>HSK1 BOOK</td>
                    <td>The level begginer level HSK Book</td>
                    <td>500.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>The Reachest Man in Babilon</td>
                    <td>The Best Finance management Guid book you can find</td>
                    <td>650.00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Five Seconds Rull</td>
                    <td>You wanner manage your time well? This is the book for you</td>
                    <td>650.00</td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Dashboard</title>
</head>
<body>
    <h2>Welcome to Seller Dashboard</h2>
    <p>Hello, {{ user.username }}!</p>
</body>
</html> -->
